/* ===== Fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@font-face {
    font-family: Myriad;
    src: url("../assets/fonts/Myriad/Myriad.otf");
}

/* ===== Roots ===== */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #F08431;
    --clr-secondary: #233450;
    --clr-text-black: #000;
    --clr-text-white: #fff;
    --clr-secondary-background: #9C9C9C;
}

body {
    font-family: Myriad;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ===== Global Styling ===== */
.jumbotron .logo img {
    width: 320px;
}

.title {
    font-family: 'Cabin', sans-serif;
    color: var(--clr-text-black);
    font-size: 28px;
}

.sub-title {
    font-family: Myriad;
    color: var(--clr-text-black);
    font-size: 16px;
}

.cta {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    cursor: pointer;
    padding: 0.4rem 1.5rem !important;
    letter-spacing: 1px;
    width: 100px;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    background-color: transparent;
    color: var(--clr-primary);
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.cta:hover {
    background-color: var(--clr-primary);
    color: var(--clr-text-white);
    text-decoration: none;
}

.location,
.card-text {
    color: var(--clr-secondary);
}

.location {
    font-weight: 700;
    font-family: 'Cabin', sans-serif;
}

.card-text {
    font-weight: 400;
    font-family: Myriad;
}

.jumbotron {
    background-image: url('../assets/img/background-jumbotron.png');
    background-size: cover;
    background-position: center;
    margin-top: -15px;
    z-index: 1;
    position: relative;
}

.jumbotron:after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background: #233450;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

.logo {
    position: relative;
    z-index: 1;
}

.hero-image {
    background-image:  url("../assets/img/apartments/banner.png");
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -35px;
}

.location {
    font-size: 18px;
    font-weight: 700;
}

/* .hero-text {
    background: rgba(11, 35, 74, 1);
    opacity: 0.7;
    padding: 1rem 4rem;
    position: absolute;
    top: 266px;
    font-size: 14px;
    color: white;
} */

.card {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    margin-top: 20px;
}

.apartments {
    margin-top: 50px;
}

.card-text {
    font-size: 14px;
}

.button-back {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: var(--clr-secondary);
    padding: 30px;
    color: var(--clr-text-white);
    font-size: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .office-address {
    display: flex;
}

footer .section-office {
    margin-top: 50px;
    margin-left: 35px;
    font-weight: bold;
}

footer .office-address .pin {
    margin-right: 10px;
}

footer .section-contact {
    margin-top: 50px;
    margin-left: 35px;
    font-weight: bold;
}

footer .contact .pin {
    margin-right: 5px;
}

footer .mail .pin {
    margin-right: 10px;
}

footer .mail {
    margin-top: 10px;
}

footer .social-media h5 {
    margin-top: 50px;
    font-weight: bold;
}

@media (min-width: 576px) {
    .jumbotron .logo img {
        width: 420px;
    }
}

@media (min-width: 768px) {
    .jumbotron .logo img {
        width: 470px;
    }

    footer .office {
        margin-top: 0;
    }

    footer .phone {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .jumbotron .logo img {
        width: 590px;
    }

    .hero-image {
        height: 100vh;
    }
    
    .hero-text {
        top: 409px;
    }

    footer {
        padding: 100px 0;
    }

    footer .section-office {
        margin-top: 0;
    }

    footer .section-contact {
        margin-top: 0;
    }

    footer .social-media h5 {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .jumbotron .logo img {
        width: 640px;
    }

    .hero-text {
        top: 495px;
    }

    .pallazo {
        margin-top: 50px;
    }

    .pallazo img {
        height: 461px;
    }
}