/* ===== Fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@font-face {
    font-family: Myriad;
    src: url("../assets/fonts/Myriad/Myriad.otf");
}

/* ===== Roots ===== */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #F08431;
    --clr-secondary: #233450;
    --clr-text-black: #000;
    --clr-text-white: #fff;
    --clr-secondary-background: #9C9C9C;
}

body {
    font-family: Myriad;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ===== Global Styling ===== */
.title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1px;
    color: var(--clr-text-black);
    border-bottom: 3px solid var(--clr-primary);
    display: inline;
}

.sub-title {
    font-family: Myriad;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--clr-text-black);
}

.btn {
    cursor: pointer;
    color: var(--clr-primary);
    background: transparent;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    padding: 0.4rem 1.1rem !important;
    letter-spacing: 1px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    color: var(--clr-text-white);
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    text-decoration: none;
}

.btn:active {
    color: var(--clr-text-white);
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
}

/* ===== CSS Styling ===== */
.navbar {
    font-family: 'Cabin', sans-serif;
    padding: 10px;
}

.navbar-brand img {
    cursor: pointer;
    width: 180px;
    height: 30px;
}

.nav-link {
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.carousel-item img {
    height: 50vh;
}

.about {
    text-align: center;
}

.about .sub-title {
    margin: 20px 0;
}

.about-sc-caption {
    display: block;
}

.about-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: -30px;
    background-color: white;
    padding: 40px;
}

.about-panel img {
    margin-top: 20px;
    width: 75%;
}

.product {
    margin-top: 130px;
    text-align: center;
}

.product .sub-title {
    margin: 20px 0;
}

.product img {
    width: 75%;
}

.services {
    margin-top: 50px;
    text-align: center;
}

.services img {
    width: 75%;
}

.services .sub-title {
    margin: 20px 0;
}

.counters {
    margin: 100px 0;
}

.fas {
    font-size: 40px;
}

.numbers {
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--clr-primary);
    margin-top: 10px;
}

.type {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: var(--clr-primary);
}

.our-projects .carousel-item {
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.our-projects .btn {
    color: var(--clr-text-white);
    background-color: var(--clr-primary);
    border-radius: 5px;
}

.iso-certificate {
    margin: 100px 0;
}

.certificate {
    background-color: var(--clr-secondary-background);
    padding: 60px;
    border-radius: 20px;
}

.certificate img {
    display: block;
    width: 300px;
    height: 350px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.iso-bottom {
    margin-top: 20px;
}

.iso-bottom img {
    width: 40%;
}

.contact-form {
    margin: 100px 0;
}

.contact-form .title {
    font-size: 34px;
}

.contact-form .sub-title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

input,
textarea {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.btn-loading {
    cursor: pointer;
    padding: 0.2rem 1.1rem !important;
    width: 130px;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    background-color: transparent;
    color: var(--clr-primary);
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.maps {
    margin-top: 40px;
}

.maps iframe {
    display: block;
    top: 0;
    height: 200px;
}

footer {
    background-color: var(--clr-secondary);
    padding: 30px;
    color: var(--clr-text-white);
    font-size: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .office {
    display: flex;
}

footer .section-office {
    margin-top: 50px;
    margin-left: 35px;
    font-weight: bold;
}

footer .office .pin {
    margin-right: 10px;
}

footer .section-contact {
    margin-top: 50px;
    margin-left: 35px;
    font-weight: bold;
}

footer .contact .pin {
    margin-right: 5px;
}

footer .mail .pin {
    margin-right: 10px;
}

footer .mail {
    margin-top: 10px;
}

footer .social-media h5 {
    margin-top: 50px;
    font-weight: bold;
}

@media (min-width: 576px) {
    .carousel-item img {
        height: 65vh;
    }

    .about-panel .about-sc-thumbnail img {
        width: 60%;
    }

    .fas {
        font-size: 60px;
    }

    .certificate img {
        width: 300px;
        height: 400px;
    }

    .maps iframe {
        height: 300px;
    }
}

@media (min-width: 768px) {
    .carousel-item img {
        height: 90vh;
    }

    .about-panel .about-sc-thumbnail img {
        width: 50%;
    }

    .iso-bottom img {
        width: 100%;
    }

    .maps iframe {
        margin-top: 100px;
        height: 255px;
    }

    footer .office {
        margin-top: 0;
    }

    footer .phone {
        margin-top: 0;
    }

}

@media (min-width: 992px) {
    .carousel-item img {
        height: 100vh;
    }

    .about {
        text-align: left;
    }

    .about .about-sc-thumbnail img {
        width: 90%;
    }

    .about .about-sc-caption {
        top: 40px;
        left: 30px;
    }

    .product,
    .services {
        text-align: left;
    }

    .product img {
        width: 100%;
    }

    .product .caption {
        margin-top: 25px;
    }

    .services img {
        width: 100%;
    }

    .fas {
        font-size: 70px;
    }

    .our-projects .carousel-item {
        height: 70vh;
    }

    .counters {
        margin: 130px 0;
    }

    .iso-bottom p {
        text-align: left;
    }

    .certificate img {
        width: 300px;
        height: 380px;
    }

    .iso-bottom img {
        width: 80%;
    }

    footer {
        padding: 100px 0;
    }

    footer .section-office {
        margin-top: 0;
    }

    footer .section-contact {
        margin-top: 0;
    }

    footer .social-media h5 {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .about .about-sc-caption {
        top: 100px;
    }

    .product .caption {
        margin-top: 50px;
    }

    .services .caption {
        margin-top: 25px;
    }
    
    .certificate img {
        width: 300px;
        height: 420px;
    }
}