/* ===== Fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@font-face {
    font-family: Myriad;
    src: url("../assets/fonts/Myriad/Myriad.otf");
}

/* ===== Roots ===== */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #F08431;
    --clr-secondary: #233450;
    --clr-text-black: #000;
    --clr-text-white: #fff;
    --clr-secondary-background: #9C9C9C;
}

html, body {
    font-family: Myriad;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-width: 100%;
}

/* ===== Global Styling ===== */
.jumbotron .logo img {
    width: 320px;
    margin-left: 20px;
}

section {
    margin-top: 50px;
}

.title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 5px;
    color: var(--clr-text-black);
    border-bottom: 3px solid var(--clr-primary);
    display: inline;
}

.sub-title {
    font-family: Myriad;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--clr-text-black);
}

.cta {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    cursor: pointer;
    padding: 0.4rem 1.5rem !important;
    letter-spacing: 1px;
    width: 100px;
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    background-color: transparent;
    color: var(--clr-primary);
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.cta:hover {
    background-color: var(--clr-primary);
    color: var(--clr-text-white);
    text-decoration: none;
}

.yellow-title {
    color: var(--clr-primary);
    font-weight: 700;
    font-family: 'Cabin', sans-serif;
}

.yellow-button {
    color: var(--clr-text-white);
    font-weight: 700;
    font-family: Myriad;
    background-color: var(--clr-primary);
    padding: 0.4rem 1.5rem;
    border-radius: 5px;
}

.yellow-button:hover {
    color: var(--clr-secondary);
    text-decoration: none;
}

.trigger {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-text-white);
}

/* ===== CSS Styling ===== */
.jumbotron {
    background-image: url('../assets/img/background-jumbotron.png');
    background-size: cover;
    background-position: center;
    margin-top: -15px;
    z-index: 1;
    position: relative;
}

.jumbotron:after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background: #233450;
    opacity: 0.7;
    position: absolute;
    top: 0;
}

.logo {
    position: relative;
    z-index: 1;
}

.hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/hotel.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

.hotel .trigger {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-text-white);
}

.theater {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/theater.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.theater .trigger {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-text-white);
}

.office {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/office.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mall {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/mall.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.factory {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/factory.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.public-facility {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/public-facility.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.apartments {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/apartments.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.apartments .trigger {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-text-white);
}

.others {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ourProjects/other.png");
    border-radius: 10px;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-back {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: var(--clr-secondary);
    padding: 30px;
    color: var(--clr-text-white);
    font-size: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url(../assets/img/logo-shadow.png);
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position-y: 100%;
    background-position-x: 100%;
}

footer img {
    margin: 0 0;
}

footer .office-address {
    display: flex;
}

footer .section-office {
    margin-top: 50px;
    margin-left: 35px;
    font-weight: bold;
}

footer .section-operation-office {
    margin-top: 20px;
    margin-left: 35px;
    font-weight: bold;
}

footer .office-address .pin {
    margin-right: 10px;
}

footer .section-contact {
    margin-top: 50px;
    margin-left: 35px;
    font-weight: bold;
}

footer .contact .pin {
    margin-right: 5px;
}

footer .mail .pin {
    margin-right: 10px;
}

footer .mail {
    margin-top: 10px;
}

footer .social-media a {
    margin-left: 30px;
}

footer .social-media h5 {
    margin-top: 50px;
    font-weight: bold;
    margin-left: 33px;
}

footer span {
    letter-spacing: 0.8px;
}

@media (min-width: 576px) {
    .jumbotron .logo img {
        width: 420px;
    }

    .hotel .trigger {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .theater .trigger {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .apartments .trigger {
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    footer {
        background-size: 25rem;
    }
}

@media (min-width: 768px) {
    .jumbotron .logo img {
        width: 470px;
    }

    .theater {
        margin-top: 80px;
    }

    .office {
        margin-top: -20px;
    }

    .mall {
        margin-top: -23px;
    }

    .factory {
        margin-top: -20px;
    }

    .public-facility {
        margin-top: -20px;
    }

    .apartments {
        margin-top: -50px;
    }

    .others {
        margin-top: -50px;
    }

    .hotel .trigger {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .theater .trigger {
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .apartments .trigger {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    .others .trigger {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--clr-text-white);
    }

    footer {
        padding: 30px;
        background-size: 30rem;
    }

    footer .office-address {
        margin-top: 0;
    }

    footer .phone {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .jumbotron .logo img {
        width: 590px;
    }

    footer {
        padding: 100px 0;
    }

    footer .logo {
        margin-left: 50px;
    }

    footer .social-media a {
        margin-left: 5px;
    }

    footer .social-media h5 {
        margin-left: 2px;
    }

    footer .section-office {
        margin-top: 0;
    }

    footer .section-operation-office {
        margin-top: 15px;
    }

    footer .contact-arsimekon {
        margin-left: 5px;
    }

    footer .section-contact {
        margin-top: 0;
    }

    footer .social-media h5 {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .jumbotron .logo img {
        width: 640px;
    }
    
    footer .contact-arsimekon {
        margin-left: 60px;
    }

    footer .social {
        margin-left: -60px;
    }

    footer .social-media a {
        margin-left: 20px;
    }

    footer .social-media h5 {
        margin-left: 10px;
    }
}